@tailwind base;
@tailwind components;
@tailwind utilities;



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  background: url('https://img.freepik.com/free-photo/wet-monstera-deliciosa-plant-leaves-garden_53876-139814.jpg');
  color: white;
  padding-top: 2rem;
  background-size: cover;
}
.container{
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
h1{
  font-size: 35px;
  letter-spacing: 7px;
  font-weight: bolder;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-top: 100px;
  margin-right: 20px;
}
.todoapp{
  width: 500px;
  background-color: rgba(225, 225, 225, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 1rem;
  box-shadow: 8px 8px 5px 3px rgba(231, 220, 220, 0.2);
}
.row{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  padding-left: 20px;
  margin: 30px 0;
  width: 95%;
  margin-inline: auto ;
}
input{
  color: white;
  font-size: 17px;
  width: 100%;
  flex: 1;
  border: none; outline: none;
  background: transparent;
  padding: 10px;
  font-weight: 14px;
  border-bottom: 1px solid white;
}
input::placeholder{
  color: rgba(107, 101, 101, 0.55);
}
button:hover{
  background-color: rgb(53, 51, 53);
}
ul{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
ul li{
  font-weight: 700;
  list-style: none;
  font-size: 15px;
  padding: 10px 30px;
  user-select: none;
  width: 90%;
  min-height: 50px;
  margin: 0 auto;
  border-radius: 5rem;
  cursor: pointer;
  position: relative;
  background: rgba(225, 225, 225, .05);
  display: flex;
  align-items: center;
  transition: .2s ease-in-out;
  gap: 280px;
}
ul li:hover{
  background: rgba(225, 225, 225, .05);
}
ul li.checked{
  color: rgb(244, 243, 246);
  /* text-decoration: line-through; */
}
ul li span:hover{
  border-radius: 30px;
  background: rgb(66, 64, 65);
  color: white;
}
ul li i{
  pointer-events: none;
}
.add-btn{
  width: 70px;
  height: 40px;
  border-radius: 30px;
  border-color: black;
  color: rgb(246, 242, 255);
  /* background-color: plum; */
  box-shadow: 1px 0px rgb(90, 83, 83);
}

.trash :hover{
  background-color: red;
  width: 60px;
  height: 30px;
  transition: 0.3s;
}

@media screen (max-width: 768px) {
  h1 {
    font-size: 28px;
    letter-spacing: 5px;
  }

  .todoapp {
    width: 90%; 
  }

  ul li {
    font-size: 13px;
    padding: 10px 20px;
    gap: 10px; 
  }

  .add-btn {
    width: 60px;
    height: 35px;
  }
}


@media screen (max-width: 760px) {
  h1 {
    font-size: 28px;
    letter-spacing: 5px;
  }

  .todoapp {
    width: 100%; 
  }
 

  ul li {
    font-size: 13px;
    padding: 10px 20px;
    gap: 10px; 
  }

  .add-btn {
    width: 60px;
    height: 35px;
  }
}
@media(max-width:481px){
  .container{
    position: absolute;
    margin-bottom: 40px;
    padding: 20px 20px 20px 20px;
  }
  .todoapp{
      width: 80%;
  }
  .h1{
      font-size: 14px;
  }
  .ul li{
      width: 80%;
  }

}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 24px;
    letter-spacing: 5px;
    margin-top: 50px;
    margin-right: 0;
  }

  .todoapp {
    width: 90%;
    padding: 1rem; 
  }

  ul li {
    font-size: 13px;
    padding: 10px 20px;
    gap: 220px; 
  }

  .add-btn {
    width: 60px;
    height: 35px;
  }
}
@media screen and (max-width: 460px) {
  h1 {
    font-size: 24px;
    letter-spacing: 5px;
    margin-top: 50px;
    margin-right: 0;
  }

  .todoapp {
    width: 90%;
    padding: 1rem;
  }

  ul li {
    font-size: 13px;
    padding: 10px 20px;
    gap: 200px; 
  }

  .add-btn {
    width: 60px;
    height: 35px;
  }
}
@media screen and (max-width: 430px) {
  h1 {
    font-size: 22px;
    letter-spacing: 5px; 
    margin-top: 50px;
    margin-right: 0;
  }

  .todoapp {
    width: 95%; 
    padding: 1rem; 
  }

  ul li {
    font-size: 12px; 
    padding: 10px 15px; 
    gap: 200px; 
  }

  .add-btn {
    width: 50px; 
    height: 30px;
    font-size: 12px; 
  }

  .row {
    margin: 20px 0; 
    padding-left: 10px; 
  }
}
@media screen and (max-width: 400px) {
  h1 {
    font-size: 22px; 
    letter-spacing: 5px; 
    margin-top: 50px;
    margin-right: 0;
  }

  .todoapp {
    width: 95%; 
    padding: 1rem; 
  }

  ul li {
    font-size: 12px; 
    padding: 10px 15px; 
    gap: 180px; 
  }

  .add-btn {
    width: 50px; 
    height: 30px;
    font-size: 12px; 
  }

  .row {
    margin: 20px 0; 
    padding-left: 10px; 
  }
}

@media screen and (max-width: 300px) {
  h1 {
    font-size: 20px; 
    letter-spacing: 3px; 
    margin-top: 20px;
    margin-right: 0;
  }

  .todoapp {
    width: 100%; 
    padding: 0.5rem; 
  }

  ul li {
    font-size: 6px; 
    min-height: 30px;
  }.list-container span{
    position: absolute;
    margin-left: 90px;
  }

  .add-btn {
    width: 40px; 
    height: 25px;
    font-size: 10px;
  }

  .row {
    margin: 10px 0; 
    padding: 0;
  }

  input {
    font-size: 12px; 
    padding: 5px;
  }
}
@media screen and (max-width: 310px) {
  h1 {
    font-size: 22px; 
    letter-spacing: 5px; 
    margin-top: 50px;
    margin-right: 0;
  }

  .todoapp {
    width: 95%;
    padding: 1rem; 
  }

  ul li {
    font-size: 12px;
    padding: 10px 15px; 
    gap: 100px; 
  }

  .add-btn {
    width: 50px; 
    height: 30px;
    font-size: 12px; 
  }
.list-container span{
  position: absolute;
  margin-left: 90px;
}

  .row {
    margin: 20px 0; 
    padding-left: 10px; 
  }
}
@media screen and (max-width: 320px) {
  h1 {
    font-size: 22px; 
    letter-spacing: 5px; 
    margin-top: 50px;
    margin-right: 0;
  }

  .todoapp {
    width: 95%; 
    padding: 1rem; 
  }

  ul li {
    font-size: 12px; 
    padding: 10px 15px; 
    gap: 110px; 
  }

  .add-btn {
    width: 50px; 
    height: 30px;
    font-size: 12px; 
  }

  .row {
    margin: 20px 0; 
    padding-left: 10px; 
  }.list-container span{
    position: absolute;
    margin-left: 90px;
  }

}
@media screen and (max-width: 330px) {
  h1 {
    font-size: 22px;
    letter-spacing: 5px; 
    margin-top: 50px;
    margin-right: 0;
  }

  .todoapp {
    width: 95%;
    padding: 1rem; 
  }

  ul li {
    font-size: 12px; 
    padding: 10px 15px;
    gap: 100px; 
  }

  .add-btn {
    width: 50px; 
    height: 30px;
    font-size: 12px; 
  }

  .row {
    margin: 20px 0; 
    padding-left: 10px; 
  }.list-container span{
    position: absolute;
    margin-left: 90px;
  }

}
@media screen and (max-width: 340px) {
  h1 {
    font-size: 22px; 
    letter-spacing: 5px; 
    margin-top: 50px;
    margin-right: 0;
  }

  .todoapp {
    width: 95%; 
    padding: 1rem; 
  }

  ul li {
    font-size: 12px;
    padding: 10px 15px; 
    gap: 120px; 
  }

  .add-btn {
    width: 50px; 
    height: 30px;
    font-size: 12px; 
  }

  .row {
    margin: 20px 0; 
    padding-left: 10px; 
  }.list-container span{
    position: absolute;
    margin-left: 90px;
  }

}
@media screen and (max-width: 350px) {
  h1 {
    font-size: 22px; 
    letter-spacing: 5px; 
    margin-top: 50px;
    margin-right: 0;
  }

  .todoapp {
    width: 95%; 
    padding: 1rem; 
  }

  ul li {
    font-size: 12px;
    padding: 10px 15px; 
    gap: 120px; 
  }

  .add-btn {
    width: 50px; 
    height: 30px;
    font-size: 12px; 
  }

  .row {
    margin: 20px 0; 
    padding-left: 10px; 
  }.list-container span{
    position: absolute;
    margin-left: 90px;
  }

}
@media screen and (max-width: 360px) {
  h1 {
    font-size: 22px; 
    letter-spacing: 5px; 
    margin-top: 50px;
    margin-right: 0;
  }

  .todoapp {
    width: 95%; 
    padding: 1rem; 
  }

  ul li {
    font-size: 12px; 
    padding: 10px 15px;
    gap: 130px;
  }

  .add-btn {
    width: 50px; 
    height: 30px;
    font-size: 12px; 
  }

  .row {
    margin: 20px 0; 
    padding-left: 10px; 
  }
}
@media screen and (max-width: 370px) {
  h1 {
    font-size: 22px; 
    letter-spacing: 5px; 
    margin-top: 50px;
    margin-right: 0;
  }

  .todoapp {
    width: 95%;
    padding: 1rem; 
  }

  ul li {
    font-size: 12px; 
    padding: 10px 15px; 
    gap: 130px; 
  }

  .add-btn {
    width: 50px; 
    height: 30px;
    font-size: 12px; 
  }

  .row {
    margin: 20px 0; 
    padding-left: 10px; 
  }
}
@media screen and (max-width: 380px) {
  h1 {
    font-size: 22px; 
    letter-spacing: 5px; 
    margin-top: 50px;
    margin-right: 0;
  }

  .todoapp {
    width: 95%; 
    padding: 1rem; 
  }

  ul li {
    font-size: 12px; 
    padding: 10px 15px; 
    gap: 160px; 
  }

  .add-btn {
    width: 50px; 
    height: 30px;
    font-size: 12px; 
  }

  .row {
    margin: 20px 0; 
    padding-left: 10px; 
  }
}